<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="kelkoo_sales_tracking" translate="label" type="text" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Kelkoo Sales Tracking</label>
            <tab>sales</tab>
            <resource>Sumrak_KelkooSalesTracking::kelkoo_sales_tracking</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="10"
                   showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="merchant_id" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Merchant Id</label>
                    <comment>
                        <![CDATA[This is the unique ID representing your shop within the Kelkoo system.]]>
                    </comment>
                </field>
                <field id="country_code" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Country</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                    <comment>
                        <![CDATA[Leave empty for using General -> General -> Country Options -> Default Country	]]>
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
